main
{
    img
    {
        max-width: 50%;
        height: auto;
    }
}

#pop-up
{
    img
    {
        max-width: 50%;
        height: auto;
    }
}

@media(min-width: 1050px)
{
    main
    {
        img
        {
            max-width: 100%;
            height: auto;
        }
    }
}
