header
{
    display: grid;
    justify-content: center;
    margin-bottom: 1rem;
}

body
{
    background-color: beige;
}

#hint-box
{
    display: grid;
    justify-content: center;
    margin: 1rem;
}
