$background-color: #eae0d5;

body
{
    background-color: $background-color;
    min-height: 100vh;
    padding: 3rem;
}

header
{
    text-align: center;
    margin-bottom: 1rem;
}

#image-box
{
    display: grid;
    justify-items: center;
}

#hint-box
{
    text-align: center;
    margin: 2rem;
}

#guesses-box
{
    text-align: center;
    margin-bottom: 3rem;
}

#letters-box ul
{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 0.3rem;
    margin-bottom: 3rem;
    margin-left: -2.5rem;
    list-style: none;
}

#keyboard-ui
{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    max-width: 380px;
}

@media(min-width: 1050px)
{
    #letters-box ul
    {
        gap: 0.5rem;
    }

    #keyboard-ui
    {
        max-width: 580px;
    }

    #hint-box
    {
        margin-bottom: 3rem;
    }
}
