#pop-up
{
    opacity: 0;
    display: none;
    position:fixed;
    top:0px;
    left:0px;    
    width:100vw;
    height:100vh;    
	z-index:1000;
	background-color: rgba(0,0,0,0.6);
}

#pop-up-content
{
    position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 180px;
	min-width: 300px;
	padding: 3rem;
	border-radius: 20px;
    background-color: $background-color;
    text-align: center;
}

@media(min-width: 1050px)
{
    #pop-up-content
    {
        max-width: 400px;
    }
}
