$border-color: black;
$button-color: #e5e5e5;

*
{
    font-family:'Lilita One', sans-serif;
    font-weight: 400;
    font-style: normal;
}

header
{
    h1
    {
        font-size: 30px;
    }
}

#hint-box
{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
}

#guesses-box
{
    font-size: 18px;
}

#keyboard-ui
{
    button
    {
        font-size: 16px;
        padding: 7px;
        margin: 0.1rem;
        border-radius: 8px;
        cursor: pointer;
        border: none;
        outline: none;
        text-transform: uppercase;
        background-color: $button-color;
    }

    button:hover
    {
       opacity: .6;
    }
}

.letter
{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: solid 3px $border-color;
    width: 18px;
}

.letter.guessed
{
    border: transparent;
}

#pop-up-content
{
    h2
    {
        font-size: 20px;
        margin-bottom: 1.5rem;
    }

    p
    {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
    }

   button
   {
        font-size: 16px;
        padding: 7px;
        margin-top: 1rem;
        border-radius: 8px;
        cursor: pointer;
        border: none;
        text-transform: uppercase;
   }
}

@media(min-width: 1050px)
{
    .letter
    {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
        border-bottom: solid 3px $border-color;
        width: 25px;
    }

    #keyboard-ui
    {
        button
        {
            font-size: 28px;
            margin: 0.2rem;
        }
    }

    header
    {
        h1
        {
            font-size: 40px;
        }
    }

    #hint-box
    {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: italic;
        font-size: 20px;
    }

    #guesses-box
    {
        font-size: 24px;
    }

    #pop-up-content
    {
        h2
        {
            font-size: 24px;
        }

        p
        {
            font-size: 18px;
        }

        button
        {
                font-size: 18px;
                padding: 0.8rem;
        }
    }
}
