$wrapper-color: white;

#wrapper
{
    background-color: $wrapper-color;
    border-radius: 2rem;
    padding: 2rem;
    margin: auto;
    max-width: 1320px;

    display: grid;
    justify-content: center;
}
